<div class="card-body" id="<%= dom_id event %>">
  <h5 class="card-title"><%= event.name%></h5>
  <h6 class="card-subtitle mb-2 text-muted"><%=event.description%></h6>
  <p class="card-text"><%=event.date%></p>
</div>