
<p style="color: green"><%= notice %></p>

<% content_for :title, "Events" %>

<h1>Events</h1>
<%= link_to "New event", new_event_path %>
<div class="card card-index" style="width: 18rem; margin: 1%;" id="event">
  <% @events.each do |event| %>
    <%= render event %>
    <p class="card-text" style="margin-left: 5%;">
      <%= link_to "Show this event", event%>
    </p>
  <% end %>
</div>

